/* #0D2CD0 */
/* #fff */
/* #3051FF */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: medium;
}
body{
    background-color: #0D2CD0;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
header img{
    height: 80px;
    position: relative;
    right: 5rem;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Inicio {
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem
}
#Inicio h1{
    font-size: 128px;
}
#Inicio h3{
    font-size: 64px;
}
.container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: justify;
}
.container img{
    width: 30rem;
    margin-left: 10rem;
    position: relative;
    right: 3rem;
    border-radius: 4rem;
}
.container p {
    font-size: 32px;
}
#imgsobreimg img{
    width: 15rem;
    margin-left: 10rem;
    border-radius: 2rem;
    position:relative;
    left: 30rem;
    bottom: 8rem;
}
#Tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: #fff;
    border-radius: 2rem;
}
#primeiraparte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#segundaparte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 4rem;
}
#primeiraparte .card {
    width: 40%;
    height: 25rem;
}
#segundaparte .card {
    width: 40%;
    height: 25rem;
}
#primeiraparte .card button{
    margin-top: 5%;
}
#segundaparte .card button{
    margin-top: 15%;
}
.card{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #3051FF;
}
.card img {
    background-color: #eee;
    width: 100%;
    border-radius: 2rem;
}
.card button {
    border-radius: 2rem;
    height: 40px;
    width: 90%;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    margin: 5%;
}
.card h1{
    font-size: 24px;
}
.card h4{
    font-size: 16px;
}
.card h1, .card h4 {
    margin: 0px 10%;
}