/* #0D2CD0 */
/* #fff */
/* #3051FF */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: medium;
}
body{
    background-color: #0D2CD0;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
header img{
    height: 80px;
    position: relative;
    right: 5rem;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Inicio {
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
#Inicio h1{
    font-size: 128px;
}
#Inicio h3{
    font-size: 64px;
}
.container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: justify;
}
.container img{
    width: 30rem;
    margin-left: 10rem;
    position: relative;
    right: 3rem;
    border-radius: 4rem;
}
.container p {
    font-size: 32px;
}
#imgsobreimg img{
    width: 15rem;
    margin-left: 10rem;
    border-radius: 2rem;
    position:relative;
    left: 30rem;
    bottom: 8rem;
}
#Tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: #fff;
    border-radius: 2rem;
}
#primeiraparte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#segundaparte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 4rem;
}
#primeiraparte .card {
    width: 40%;
    height: 25rem;
}
#segundaparte .card {
    width: 40%;
    height: 25rem;
}
#primeiraparte .card button{
    margin-top: 5%;
}
#segundaparte .card button{
    margin-top: 15%;
}
.card{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #3051FF;
}
.card img {
    background-color: #eee;
    width: 100%;
    border-radius: 2rem;
}
.card button {
    border-radius: 2rem;
    height: 40px;
    width: 90%;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    margin: 5%;
}
.card h1{
    font-size: 24px;
}
.card h4{
    font-size: 16px;
}
.card h1, .card h4 {
    margin: 0px 10%;
}
#Objetivos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background-color: #3051FF;
    border-radius: 2rem;
    width: 90%;
    margin: 5%;
}
#Objetivos h1{
    font-size: 64px;
    background-color: #0D2CD0;
    border-radius: 2rem;
}
#Objetivos h2{
    margin-top: 3rem;
    width: 90%;
    margin: 5%;
    background-color: #fff;
    color: #0D2CD0;
    font-size: 24px;
    padding: 10px;
    border-radius: 2rem;
}
#Publico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Publicoparte2, #Publicoparte1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5% 5%;
    gap: 5%;
}
#Publicoparte1 img, #Publicoparte1 .card2{
    width: 40rem;
    height: 15rem;
    border-radius: 1rem;
}
#Publicoparte2 img, #Publicoparte2 .card2{
    width: 27rem;
    height: 15rem;
    border-radius: 1rem;
}
.card2 button{
    background-color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2rem;
    border-color: transparent;
    height: 2rem;
}
.card2{
    background-color: #3051FF;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-color: #fff;
    color: #fff;
    border-radius: 1rem
}
.card2 p{
    width: 80%;
    font-size: 24px;
}
#Beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 5%;
    color: #fff;
    gap: 3rem;
}
#Beneficios h1{
    font-size: 64px;
}
#Beneficios p{
    font-size: 24px;
}
#beneficiosparte2, #beneficiosparte1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#Beneficios .card2{
    background-color: #0D2CD0;
    width: 20rem;
    height: 10rem;
}

#Beneficios .card2 p{
    font-size: 20px;
}
.card3{
    width: 20rem;
    height: 10rem;
    background-color: #3051FF;
    border-radius: 1rem;
    border: solid 1px;
    border-color: #fff;
    color: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
}
.card3 img{
    width: 5rem;
    height: 5rem;
}
.card3 p{
    width:10rem;
    margin: 0 2rem;
}